<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<servlet>
		<servlet-name>myservlet</servlet-name>
		<servlet-class>com.servlet.myservlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>myservlet</servlet-name>
		<url-pattern>/myservlet</url-pattern>
	</servlet-mapping>

</web-app>